# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Tooling caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.dmypy.json

# Editors / IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build / output
input/
output/
*.log
